keyboard {{ cfg.region.keymap }}
lang {{ cfg.region.locale }}
timezone --utc {{ env.TIMEZONE }}
text
install
reboot

zerombr
clearpart --all --initlabel
autopart --type=lvm
bootloader --location=mbr

rootpw --iscrypted !!
user --name={{ env.USER }} --groups=wheel --gecos="{{ env.FULLNAME }}"

network --bootproto=dhcp

skipx
repo --name=updates

%packages
@core
qemu-guest-agent
-NetworkManager*
-iwl*firmware
%end

%post
/bin/mkdir /home/{{ env.USER }}/.ssh
/bin/chmod 0700 /home/{{ env.USER }}/.ssh
/bin/chown {{ env.USER }}:{{ env.USER }} /home/{{ env.USER }}/.ssh
/bin/curl -o /home/{{ env.USER }}/.ssh/authorized_keys {{ cfg.ssh.keysUrl }}
/bin/chmod 0600 /home/{{ env.USER }}/.ssh/authorized_keys
/bin/chown {{ env.USER }}:{{ env.USER }} /home/{{ env.USER }}/.ssh/authorized_keys
/bin/sed -i 's/%wheel\tALL=(ALL)\tALL/%wheel\tALL=(ALL)\tNOPASSWD: ALL/' /etc/sudoers
%end
