d-i debian-installer/language string {{ cfg.region.language }}
d-i debian-installer/country string {{ cfg.region.country | upper }}
d-i debian-installer/locale string {{ cfg.region.locale }}
d-i keyboard-configuration/xkb-keymap select {{ cfg.region.keymap }}

d-i netcfg/choose_interface select auto

d-i mirror/country string manual
d-i mirror/http/hostname string ftp.{{ cfg.region.country }}.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i passwd/root-login boolean false
d-i passwd/user-fullname string {{ fullname }}
d-i passwd/username string {{ user }}
d-i passwd/user-password-crypted password !

d-i clock-setup/utc boolean true
d-i time/zone string {{ timezone }}
d-i clock-setup/ntp boolean true

d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-auto-lvm/guided_size string max
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i apt-setup/use_mirror boolean true
apt-cdrom-setup apt-setup/cdrom/set-first boolean false
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string qemu-guest-agent acpid sudo
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false
d-i apt-setup/disable-cdrom-entries boolean true

d-i grub-installer/bootdev string /dev/vda
d-i grub-installer/only_debian boolean true

d-i preseed/late_command string \
in-target /usr/bin/wget {{ cfg.ssh.userCaUrl }} -O /etc/ssh/user-ca.pub ;\
echo 'TrustedUserCAKeys /etc/ssh/user-ca.pub' > /target/etc/ssh/sshd_config.d/user-ca.conf ;\
in-target /bin/sed -i 's/%sudo\tALL=(ALL:ALL) ALL/%sudo\tALL=(ALL:ALL) NOPASSWD:ALL/' /etc/sudoers ;\
in-target /usr/sbin/usermod -a -G sudo {{ user }}

d-i finish-install/reboot_in_progress note
