keyboard {{ cfg.region.keymap }}
lang {{ cfg.region.locale }}
timezone --utc {{ timezone }}
text
reboot

rhsm --organization={{ cfg.rhel.organization }} --activation-key={{ cfg.rhel.activationKey }} --connect-to-insights

zerombr
clearpart --all --initlabel
autopart --type=lvm
bootloader --location=mbr

rootpw --iscrypted !!
user --name={{ user }} --groups=wheel --gecos="{{ fullname }}"

network --bootproto=dhcp
firewall --enabled --ssh

firstboot --disable
selinux --disabled

skipx

%packages
@^minimal-environment
qemu-guest-agent
-iwl*firmware
%end

services --enabled=rhcd

%post
/bin/curl -o /etc/ssh/user-ca.pub {{ cfg.ssh.userCaUrl }}
echo 'TrustedUserCAKeys /etc/ssh/user-ca.pub' > /etc/ssh/sshd_config.d/user-ca.conf
echo -e '%wheel\tALL=(ALL:ALL) NOPASSWD:ALL' > /etc/sudoers.d/wheel-no-passwd
%end
